body{
  background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
    margin-top:20px;
}

.card-margin {
    margin-bottom: 1.875rem;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: 8px;
    background: #373737;
    -webkit-box-shadow: 12px 12px 24px #2f2f2f, -12px -12px 24px #3f3f3f;
    box-shadow: 12px 12px 24px #2f2f2f, -12px -12px 24px #3f3f3f;
    min-height: 24vh;
}

.card .card-header.no-border {
    border: 0;
}
.card .card-body
{
  padding:0;
}
.card .card-header {
    padding: 0 0.9375rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
}
.card-header:first-child {
    border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.card-sub .card-sub-title-wrapper {
  display: flex;
  align-items: center;
}



.card-sub .card-sub-title-wrapper .card-sub-meeting-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.card-sub .card-sub-title-wrapper .card-sub-meeting-info .card-sub-pro-title {
  color: #feffff;
  font-size: 1.2em;
}

.card-sub .card-sub-title-wrapper .card-sub-meeting-info .card-sub-meeting-time {
  color: #B1BAC5;
  font-size: 13px;
}

.card-sub .card-sub-meeting-points {
  font-weight: 400;
  font-size: 13px;
  margin-top: .5rem;
}

.card-sub .card-sub-meeting-points .card-sub-meeting-item {
  display: list-item;
  color: #727686;
}

.card-sub .card-sub-meeting-points .card-sub-meeting-item span {
  margin-left: .5rem;
}

.card-sub .card-sub-meeting-action {
  text-align: right;
}

.card-sub .card-sub-meeting-action a {
  text-transform: uppercase;
}
